header {
  background: #7700FF;
}

.logo {
  font-weight: bold;
}

nav {
  justify-self: right;
}

ul {
  list-style-type: none;
}

li {
  float: left;
}

a {
  padding: 1.5em;
  text-transform: uppercase;
  font-size: .8em;
}

a:hover {
  background: #8E2BFF;
}
